opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  name: 'ImportDocument'
  validate_before_import: true # Validate any bundle before import
  scope: 'application/pdf,text/plain,text/html,text/csv,text/markdown'
  auto: false # Enable/disable auto-import of file
  only_contextual: false # Only extract data related to an entity (a report, a threat actor, etc.)

app:
  create_indicator: false
